[Unit]
Description=FocalDesk display manager
Documentation=https://github.com/sjweiler/focaldesk
After=systemd-user-sessions.service systemd-logind.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/sbin/focaldmd
Restart=on-failure
RestartSec=2
RuntimeDirectory=focaldmd
RuntimeDirectoryMode=0755
UMask=0077
LimitCORE=0

[Install]
Alias=display-manager.service
