[Unit]
Description=Focaldesk credential broker socket for UID %i
Requires=user-runtime-dir@%i.service
Requires=focaldesk-runtime-dir@%i.service
After=user-runtime-dir@%i.service focaldesk-runtime-dir@%i.service
PartOf=user@%i.service

[Socket]
ListenStream=/run/user/%i/focaldesk/secrets.sock
SocketUser=%i
SocketMode=0600
RemoveOnStop=yes
Service=focald-secrets@%i.service
