[Unit]
Description=FocalDesk control daemon

[Service]
Type=simple
ExecStart=/usr/bin/focaldesk-controlsd
Restart=on-failure
RestartSec=2
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=default.target
